/build/
!/build/
/build/output/
/build/*.ps1
/build/**/*.ps1
/kernel/src/
/kernel/downloads/
rootfs/
*.pyc
__pycache__/
*.tar.gz
*.iso
tools/target/
!/build/*.ps1
!/build/**/*.ps1
kernel/src/
kernel/downloads/
*.log